.progress{position:absolute; top:80vh; left:100px; border:1px solid yellow; z-index:1;}
.slide:nth-child(1) {
  -webkit-animation: fade 24s 0s infinite;
  z-index:1;
}
.slide:nth-child(2) {
  -webkit-animation: fade 24s 6s infinite;
  z-index:1;
}
.slide:nth-child(3) {
  -webkit-animation: fade 0s 0s infinite;
  z-index:0;
}
.slider{z-index:-1;}

#vidpop {
  display: block;
  text-align:center;
}
label + input[type=checkbox]{
display:none !important;
} 
 
input[type=checkbox]:checked + label div{
  transform:rotate(0) !important; transform: scale(1.2) !important; width:40vw !important; position:relative !important; top:-10vh !important; left:0 !important; transition: all 2s ease;
  z-index:1;
} 
input[type=checkbox]:checked + label div label{display:block !important; cursor:pointer;}
#vid-toggle:checked + #vidpop .sub{display:none !important;}
#vid-open{
  position:absolute; bottom:0; display:block; width:100%; height:100%;  z-index:1; cursor:pointer;

}
/* .container2 {
	overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
section {
	scroll-snap-align: start;
  overflow:hidden;
  background:tranparent !important;
} */
.slider1{
  position:fixed; 
  top:0;
  width:100vw;
  height:70vh;
  display:block;
  background-size:cover;
  min-height:70vh;
}


