:root {
  /* tokens */
  /* font-family */
  --font-body: "Hammersmith One", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* palette */
  --black-fade-5: rgba(0, 0, 0, 0.05);
  --black-fade-40: rgba(0, 0, 0, 0.4);
  --grey-90: #000;
  --grey-50: #333;
  --green-80: #FA02B7;
  --green-50-rgb: 55, 182, 53;
  --white: #ffffff;

  /* radii */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-rounded: 999px;

  /* spacing */
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-3xl: 48px;

  /* line-height */
  --solid: 1;
  --dense: 1.25;
  --default: 1.5;
  --loose: 2;

  /* letter-spacing */
  --tracked: 0.075em;
  --tight: -0.015em;

  /* font-weight */
  --body: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  /* font-size */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;

  /* role-based tokens */

  /* colors */
  --primary: var(--white) ;
  --background: var(--white);
  --border: var(--black-fade-5);
  --home-link-color-hover: var(--primary-color);
  /* transitions */
  --transition: box-shadow 0.125s ease-in;

  /* shadows */
  --shadow: 0 4px 12px var(--primary-color);

  /* text */
  /* color */
  --text-color: #ccc;
  --text-color-secondary: var(--white-50);
  --text-color-inverted: var(--white);
  --primary-color:#FA02B7;
  /* size */
  --text-display: var(--text-2xl);
  --text-prose: var(--text-md);

  /* input */
  --input-background: var(--black-fade-5);
  --input-background-hover: var(--black-fade-5);
  --input-border: var(--black-fade-5);
  --input-text: var(--text-color);
  --input-text-disabled: var(--black-fade-40);
  --input-ui: var(--text-color-secondary);
  --input-ui-active: var(--text-color);

  /* size */
  --size-input: var(--space-3xl);
  --size-gap: 12px;
  --size-gutter-raw: var(--space-2xl);
  --size-gutter: calc(var(--size-gutter-raw) - 12px);

  /* product */
  --product-grid: 1fr;
}

/* role-based token adjustments per breakpoint */
@media (min-width: 640px) {
  :root {
    --product-grid: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  :root {
    --text-display: var(--text-3xl);
    --text-prose: var(--text-lg);
    --product-grid: repeat(3, 1fr);
    --size-gutter-raw: var(--space-3xl);
    --size-gap: var(--space-2xl);
  }
}

@media (min-width: 1280px) {
  :root {
    --product-grid: repeat(4, 1fr);
  }
}
