.productCardStyle {
  max-width: 100%;
  cursor: pointer;
  text-decoration: none;
  /* padding-bottom: var(--space-md); */
  border-left: 1px solid rgba(51, 4, 39, 0.5);
  border-top: 1px solid rgba(66, 55, 63, 0.8);
  border-radius: 12px;
  transition: transform 250ms ease-in-out;
  background-color:#111;
  background: linear-gradient(180deg, #333 1%, #111 80%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
}

/* .productImageStyle {
  margin-bottom: var(--space-md);
} */

.productDetailsStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: var(--semibold);
}

.productVendorStyle {
  font-size: var(--text-sm);
  color: var(--text-color-secondary);
}

.productHeadingStyle {
  width: 100%;
  font-size: var(--text-lg);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--dense);
}

.productPrice {
  color: var(--text-color-secondary);
}
